.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import "~@flaticon/flaticon-uicons/css/all/all";



/* .content-wrapper{
	width: 100%;
} */

/************dashboard*****************/

.chart
{
	background-color: #061b28;
}
/* .calendar{
	background-color: black;
} */

.cards{
	display: flex;
	justify-content: center;
	/* align-items: center; */
	gap: 20px;
}
/************End dashboard***************/

/************darkMode****************/
#light {
	/* background-color: #f3ebf6; */
	background-color: #ffffff;
}

#dark {
	background-color: #46045e;
}

/* .switch {
	display: flex;
	width: 100vw;
	height: 100px;
	justify-content: center;
	align-items: center;
} */

.switch label {
	margin : 10px;
}

#light .switch label {
	color:black;
}

#dark .switch label {
	color:white;
}

.Header-List{
	display: flex;
}

#dark .footer-content{
	color: #61dafb;
}

#light .main-table{
	background-color: #ffffff;
}


/* #dark .main-table td {
	color: white;
  } */

#dark .main-table .page-no {
	color: white;
  }

main {
	min-height: 80vh;
}

/******** OwnerList Card**********/
  .card .card-header{
	background-color:  #46045e;
  }
/******** OwnerList Card**********/
  
  
  
  
  
  
  
  





